.home {
  text-align: center;
  padding: 100px;
  padding-top: 100px;
  max-width: 1080px;
  margin: 0 auto;
}

.home__header {
  margin-bottom: 40px;
}

.home__title {
  font-size: 50px;
  margin-bottom: 15px;
}

@media (min-width: 414px) {
  .home__title {
    font-size: 80px;
  }
}

.home__details {
  margin-bottom: 50px;
}

.home__ctas {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.home__cta {
  text-decoration: none;
  color: #ffffff;
  background-color: #1976d2;
  padding: 10px 20px;
  border-radius: 10px;

  -webkit-box-shadow: 0 4px 10px 1px rgba(25, 117, 209, 0.4);
  -moz-box-shadow: 0 4px 10px 1px rgba(25, 117, 209, 0.4);
  box-shadow: 0 4px 10px 1px rgba(25, 117, 209, 0.4);
  transition: box-shadow 250ms ease;
}

.home__cta:hover {
  box-shadow: none;
}

.home__components {
  margin: 100px 0;
}

.home__components h2 {
  font-size: 32px;
}

.home__list {
  margin: 0 auto;
  max-width: 800px;
  padding-top: 50px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 250px), 1fr));
  grid-auto-flow: dense;
  place-items: center;
  grid-auto-rows: 40px;
  gap: 20px;
}

@media (min-width: 768px) {
  .home__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.home__list a {
  text-decoration: none;
  color: #191919;
  border: 3px #1976d2 solid;
  padding: 10px 20px;
  border-radius: 10px;
  transition: background 300ms linear;
}

.home__list a:hover {
  color: #ffffff;
  background-color: #1976d2;
}
